fastapi
uvicorn

# LangChain + RAG
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-groq

# Vector DB
chromadb

# Embeddings
sentence-transformers
torch

# PDF + Images
pymupdf
pillow
pypdf

# Utils
python-dotenv
